.button {
    padding: 10px 10px;
    font-size: 20px;
    /* font-family: monospace; */
    color: rgb(255, 255, 255);
    background: #151515;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: .5px solid rgb(187, 187, 187);
}

button:active {
    background: white;
    color: #151515;
}

#return-button {
    font-size: 100%;
    position: fixed;
    top: 1%;
    right: 2%;
    margin: 0;
}

#undo-button {
    font-size: 300%;
    line-height: 0;
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(-70%);
    bottom: 10vh;
    margin: 0;
}

#redo-button {
    font-size: 300%;
    line-height: 0;
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(70%);
    bottom: 10vh;
    margin: 0;
}

#reset-button {
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(-70%);
    bottom: 3vh;
    margin: 0;
}

#next-button {
    width: 75vw;
    height: 10vw;
    position: fixed;
    bottom: 3vh;
    margin: 0;
}

#change-button {
    font-size: 80%;
    color: black;
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(70%);
    bottom: 3vh;
    margin: 0;
}

.mode-pen {
    background: #ffaf64;
}

.mode-era {
    background: #8efff9;
}