.button {
    padding: 10px 10px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#return-button {
    font-size: 100%;
    position: fixed;
    top: 1%;
    right: 2%;
    margin: 0;
}

#undo-button {
    color: black;
    font-size: 300%;
    line-height: 0;
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(-70%);
    bottom: 10vh;
    margin: 0;
}

#redo-button {
    color: black;
    font-size: 300%;
    line-height: 0;
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(70%);
    bottom: 10vh;
    margin: 0;
}

#reset-button {
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(-70%);
    bottom: 3vh;
    margin: 0;
}

#next-button {
    width: 75vw;
    height: 10vw;
    position: fixed;
    bottom: 3vh;
    margin: 0;
}

#change-button {
    width: 35vw;
    height: 10vw;
    position: fixed;
    transform: translateX(70%);
    bottom: 3vh;
    margin: 0;
}