#dif {
    display: grid;
    position: fixed;
    bottom: 11vh;
}

#dif-text {
    position: fixed;
    bottom: 13.5vh;
}

#dif-buttons {
    display: flex;
}

.dif-button {
    width: 20vw;
    height: 4vh;

    color: rgb(255, 255, 255);
    background: #151515;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 0.5px solid rgb(187, 187, 187);
}

.dif-active {
    background: white;
    color: #151515;
}
