.sample-piece {
    width: 20px;
    height: 20px;
}
.sample-piece-filled {
    background: #e2e0d4;
    border: none;
}
.sample-piece-none {
    background: transparent;
    border: none;
}

#piece-container {
    position: fixed;
    top: 150px;

    display: flex;
    gap: 30px;

    justify-content: center;
    align-items: center;
}

.piece-board {
    margin: 0;

    display: grid;
    margin: 0;
    width: fit-content;

    gap: 1px; /*マスの間隔*/
    touch-action: none;
}
