#board {
    position: fixed;
    bottom: 190px;
    margin: 0;

    display: grid;
    margin: 0 auto;
    width: fit-content;

    gap: 4px; /*マスの間隔*/
    touch-action: none;
}

.cell {
    width: 30px;
    height: 30px;
}

.any {
    background: #686762;
    border: none;
}

/* 虚空マス */
.none {
    background: transparent;
    border: none;
}

.test {
    width: 34.5px;
    height: 34.5px;
    box-sizing: border-box;

    position: relative;
    top: -1.5px;
    left: -1.5px;
}
