#piece-container {
    position: fixed;
    top: 100px;

    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    padding: 2%;

    min-width: 30vh;
    min-height: 17vh;

    background-color: #303030;
    border: 2px solid #494949;
    border-radius: 3px;
    border-width: 3px;
}

.piece-board {
    margin: 0;

    display: grid;
    margin: 0;
    width: fit-content;

    gap: 1px; /*マスの間隔*/
    touch-action: none;
}

.sample-piece {
    width: 20px;
    height: 20px;
}
.sample-piece-filled {
    background: #e2e0d4;
    border: none;
}
.sample-piece-none {
    background: transparent;
    border: none;
}
