.switch {
    display: inline-block;
    width: 15vw;
    height: 2.5vh;

    position: fixed;
    bottom: 6vh;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: gray;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    left: 0;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
}

input:checked + .slider {
    background: limegreen;
}

input:checked + .slider::before {
    transform: translateX(calc(15vw - 2.5vh));
}

#volume-text {
    transform: translate(-21vw, -2.2vh);
}
